<ion-header>
  <ion-toolbar>
    <ion-title>Chat Room</ion-title>
    <ion-buttons>
      <ion-button icon-only (click)="Vote()"><ion-icon name="add"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



  <ion-content padding>

    <div class="chat" *ngFor= "let chat of chatRef | async">
        <div class="me" *ngIf = "uid==chat.UserID">
          {{chat.Message}}

        <div  class="me" *ngIf = "chat.Message =='POLL' "  >
          <h1>{{chat.poll}}</h1>

          <div *ngIf="voted == false">
            <ion-button  (click)="opinionClick('yes',chat.id)" >{{chat.option1}}</ion-button>
            <ion-button  (click)="opinionClick('no',chat.id)" >{{chat.option2}}</ion-button>
          </div>
          <div *ngIf="voted == true">
              <p> Thanks for Sharing Your Opinion </p>
          </div>
        </div>
        </div>

        <div class="you" *ngIf = "uid!=chat.UserID">
          <span class="name">{{chat.Name}}</span>
         <br> {{chat.Message}}


        <div class="name" *ngIf = "chat.Message =='POLL'" >
          <h1>{{chat.poll}}</h1>

          <div *ngIf="voted == false">
            <ion-button  (click)="opinionClick('yes',chat.id)" >{{chat.option1}}</ion-button>
            <ion-button  (click)="opinionClick('no',chat.id)" >{{chat.option2}}</ion-button>
          </div>

          <div *ngIf="voted == true">
              <p> Thanks for Sharing Your Opinion </p>
          </div>

        </div>
      </div>
    </div>

  </ion-content>




  <ion-footer>
    <ion-toolbar>
      <ion-input type="text" name="message" placeholder="Message" [(ngModel)]="message"></ion-input>
        <ion-button fill='clear' icon-only slot="end"  (click)="sendMessage()">
          <ion-icon name="send"></ion-icon>
        </ion-button>
    </ion-toolbar>
  </ion-footer>