<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Notes</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-buttons  slot="start">
  <ion-button [routerLink]="['/']"  >
    <ion-icon mode="ios" color="primary" slot="icon-only" name="arrow-back"></ion-icon>
 </ion-button>
</ion-buttons>
<h3 class="ion-text-center" style="font-weight: bold;"> Notes</h3>
<ion-content>
  <ion-fab vertical="bottom" horizontal="center"  slot="fixed">
    <ion-fab-button routerLink="/todo-detail">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
  <ion-grid  *ngFor="let idea of ideas; trackBy: trackByFn  ">
    <ng-container>
      <ion-row button [routerLink]="['/todo-detail', idea?.id]">
        <ion-col col-12 col-xl-2 col-lg-3 col-md-4 >
          <ion-card size="6">
            <ion-card-title >
              {{ idea.name}}
            </ion-card-title>
            <ion-card-content>
              {{idea.notes}}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      
    </ng-container>
  </ion-grid>
  
</ion-content>