<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Idea Details</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-buttons  slot="start">
  <ion-button [routerLink]="['/']"  >
    <ion-icon mode="ios" color="primary" slot="icon-only" name="arrow-back"></ion-icon>
 </ion-button>
</ion-buttons>


  <p>{{today | date:'MMM d,  h:mm a' }}</p>
<ion-content padding>
 
  <ion-item>
      <ion-input placeholder="Title" [(ngModel)]="idea.name"></ion-input>
  </ion-item>
  <div class="text">
    <ion-textarea placeholder="Notes" rows="6"  auto-grow="true" [(ngModel)]="idea.notes"></ion-textarea>

  </div>
</ion-content>
 
<ion-footer *ngIf="!idea.id">
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="addIdea()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Add Idea
    </ion-button>
  </ion-toolbar>
</ion-footer>
 
<ion-footer *ngIf="idea.id">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deleteIdea()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Delete
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateIdea()">
        <ion-icon name="save" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>