// img{

//     border-radius: 120px;
//     height:160px;
//     padding-top:10px;
// }

    img{
    border: 2px solid #222428;
    border-radius: 102px;
    height:160px;
    margin-top:10px;
  }

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
  
    font-family: Comfortaa;
  }
  h3{
      text-align: center;
      text-transform: capitalize;
    font-weight: bold;
  }